body {
  font-family: 'Noto Sans', sans-serif;
}

.bg-light{
    background-color: #fafafa;
}

.main-banner {
    position: relative;
}

#banner_text {
    min-height: 80vh;
}

.video-overlay {
    position: absolute;
    background-color: rgba(35,45,57,0.8);
    top: 0;
    left: 0;
    bottom: 7px;
    width: 100%;
}

#bg-video {
    min-width: 100%;
    min-height: 70vh;
    max-width: 100%;
    max-height: 70vh;
    object-fit: cover;
    z-index: -1;
}

#bg-video::-webkit-media-controls {
    display: none !important;
}

#people a{
    color: black;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.footer{
    background-color: rgb(40, 40, 40);
    color: #9f9f9f;
}
 
.footer .icon-link {
    font-size: 25px;
    justify-content: center;
    text-decoration: none;
}

.footer a {
    color: #fafafa !important;
    text-decoration: underline;
    text-decoration-style: dotted;
 }

 .footer a:hover{
    text-decoration: none;
    color: #eae6e6 !important;
 }


.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
    font-size: 1.6rem;
    font-weight: 600;
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
    color:white
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
    font-size: 1rem;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color:hsl(171, 100%, 41%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}

@media screen and (min-width: 769px)  {
    .publication-title  {
      font-size: 2.5rem;
    }
    .publication-authors {
        font-size: 1.5rem;
    }
}